<p id="notice"><%= notice %></p>





<table class="table" align ="center" >
  <thead>
    <tr>
      <th>Name</th>
      <th align="center">Actions</th>
      <th colspan = "1 "></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= link_to 'start', new_calendar_path , class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

