
<%= link_to "-->",@previous_calendar,{ style: "text-align:right;"  } %>
<p align="center">
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<%= link_to "<--",new_program_path,{ style: "margin-left:8px; text-align:left;"  } %>

