// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-signup {
  width: 500px !important;
}
.col-sm-8 {
    padding: 5px 15px ;
}
.actions{
   padding: 5px 15px ;
}
.container-login
{
 width: 500px !important;
  
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

input.body {
  width:95%;
}
